POSTGRES_USER=
POSTGRES_PASSWORD=

REDIS_CONNECTION_STRING=

MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_SERVICE_URL=
MINIO_BUCKET_NAME=

AUTH0_AUTHORITY=
AUTH0_AUDIENCE=

PRODUCT_SERVICE_DB_CONNECTION_STRING=
USER_SERVICE_DB_CONNECTION_STRING=
ORDER_SERVICE_DB_CONNECTION_STRING=



